<div style="widelta_th: 100%; overflow: hidden;">
    <div style="display: block;margin-left: auto;margin-right: auto; widelta_th: 100%;"><img src="./logo_dei.png"  /></div>
</div>

<h2 style="font-family:Avantgarde; font-size:2em; text-align: center;">Projeto 2 - Fusão de Informação e Análise de Dados</h2>


<h4 style="font-family:Avantgarde; font-size:1.75em; text-align: center;">Mestrado em Engenharia e Ciência de Dados</h4>
<h4 style="font-family:Avantgarde; font-size:1.3em; text-align: center;">Ano Letivo 2023/2024</h4>

<p style = "font-family:Avantgarde; font-size:1.1em; text-align: center;"> <b>Mariana Lopes Paulino - 2020190448</b></p>
<p style = "font-family:Avantgarde; font-size:1.1em; text-align: center;"> <b>Rui Alexandre Coelho Tapadinhas - 2018283200</b></p>

Screening

▪ x1 Gender {0,1} = { Female, Male} 

▪ X2 Age [34 .. 99]

▪ X3 Marital status {0,1} = { single, married} 

▪ X4 Vaccinated {0,1} = { No, Yes} 

▪ X5 Breathing difficulty {0,1,2,3} = { none, some, moderate, high}

Medidas

▪ X6 Heart Rate  [38.. 272]

▪ X7 Blood pressure  [115.. 164]

▪ X8 Temperature  [36.00  ..  38.98]

Conhecimento

▪ X9 Clinical Guidelines  A rule based on the breathing difficulty  and the temperature

Decisão

▪ T Decision Final decision {0,1} = { return home, stay at hospital }

<h3 style="font-family:Avantgarde; font-size:2em;">0. Import Libraries</h3>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h3 style="font-family:Avantgarde; font-size:2em;">1. Load and Pre Proccess Data</h3>

In [6]:
data = pd.read_csv("Meta2COVID.txt", sep="   ", engine="python")
data.columns = ["Gender", "Age", "MaritalStatus", "Vaccinated", "BreathingDifficulty", "HeartRate", "BloodPressure", "Temperature", "Decision"]
data

,Gender,Age,MaritalStatus,Vaccinated,BreathingDifficulty,HeartRate,BloodPressure,Temperature,Decision
0,0.0,82.0,1.0,0.0,3.0,79.449753,132.81408,36.832310,1.0
1,1.0,65.0,0.0,0.0,3.0,85.470779,137.33184,37.580005,1.0
2,1.0,64.0,0.0,0.0,1.0,51.561135,149.29652,36.959370,0.0
3,0.0,85.0,1.0,0.0,2.0,89.008377,121.42689,37.744883,1.0
4,1.0,59.0,0.0,0.0,1.0,71.582639,164.88202,36.506535,0.0
...,...,...,...,...,...,...,...,...,...
594,1.0,60.0,1.0,0.0,1.0,72.236092,135.37860,36.099066,0.0
595,0.0,56.0,1.0,0.0,1.0,74.460422,144.13974,38.274403,1.0
596,0.0,55.0,0.0,1.0,3.0,43.010392,118.61472,38.173531,0.0
597,1.0,60.0,0.0,0.0,2.0,61.320137,135.02002,37.818543,1.0
598,0.0,54.0,1.0,0.0,3.0,75.681904,135.56123,36.380578,0.0

In [10]:
data['Gender'] = data['Gender'].astype(int)
data['Age'] = data['Age'].astype(int)
data['MaritalStatus'] = data['MaritalStatus'].astype(int)
data['Vaccinated'] = data['Vaccinated'].astype(int)
data['BreathingDifficulty'] = data['BreathingDifficulty'].astype(int)
#data['HeartRate'] = data['HeartRate'].astype(int)
#data['BloodPressure'] = data['BloodPressure'].astype(int)
#data['Temperature'] = data['Temperature'].astype(int)
data['Decision'] = data['Decision'].astype(int)

data

,Gender,Age,MaritalStatus,Vaccinated,BreathingDifficulty,HeartRate,BloodPressure,Temperature,Decision
0,0,82,1,0,3,79.449753,132.81408,36.832310,1
1,1,65,0,0,3,85.470779,137.33184,37.580005,1
2,1,64,0,0,1,51.561135,149.29652,36.959370,0
3,0,85,1,0,2,89.008377,121.42689,37.744883,1
4,1,59,0,0,1,71.582639,164.88202,36.506535,0
...,...,...,...,...,...,...,...,...,...
594,1,60,1,0,1,72.236092,135.37860,36.099066,0
595,0,56,1,0,1,74.460422,144.13974,38.274403,1
596,0,55,0,1,3,43.010392,118.61472,38.173531,0
597,1,60,0,0,2,61.320137,135.02002,37.818543,1
598,0,54,1,0,3,75.681904,135.56123,36.380578,0

In [11]:
data.describe()

,Gender,Age,MaritalStatus,Vaccinated,BreathingDifficulty,HeartRate,BloodPressure,Temperature,Decision
count,599.000000,599.000000,599.000000,599.000000,599.000000,599.000000,599.000000,599.000000,599.000000
mean,0.525876,64.667780,0.509182,0.489149,1.497496,67.777811,140.799646,37.475296,0.322204
std,0.499747,12.191949,0.500333,0.500300,1.124184,24.128167,14.514810,0.848428,0.467711
min,0.000000,26.000000,0.000000,0.000000,0.000000,38.000000,115.096690,35.839809,0.000000
25%,0.000000,56.000000,0.000000,0.000000,0.000000,53.457034,128.097870,36.777783,0.000000
50%,1.000000,64.000000,1.000000,0.000000,1.000000,66.082875,140.709020,37.473156,0.000000
75%,1.000000,72.000000,1.000000,1.000000,3.000000,78.608148,153.610790,38.172055,1.000000
max,1.000000,107.000000,1.000000,1.000000,3.000000,272.178480,164.945760,39.126040,1.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               599 non-null    int64
 1   Age                  599 non-null    int64
 2   MaritalStatus        599 non-null    int64
 3   Vaccinated           599 non-null    int64
 4   BreathingDifficulty  599 non-null    int64
 5   HeartRate            599 non-null    float64
 6   BloodPressure        599 non-null    float64
 7   Temperature          599 non-null    float64
 8   Decision             599 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 42.2 KB